/* fonts */
@font-face {
font-family: "ProximaNova";  
src: url("../fonts/ProximaNova-Semibold.eot") format("eot"); 
font-style: normal; 
font-weight: 600;
}

@font-face {
font-family: "ProximaNova";  
src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype"); 
font-style: normal; 
font-weight: 600;
}

@font-face {
font-family: "ProximaNova";  
src: url("../fonts/ProximaNova-Semibold.woff") format("woff"); 
font-style: normal; 
font-weight: 600;
}

@font-face {
font-family: "ProximaNova";  
src: url("../fonts/ProximaNova-Bold.eot") format("eot"); 
font-style: normal; 
font-weight: 700;
}

@font-face {
font-family: "ProximaNova";  
src: url("../fonts/ProximaNova-Bold.ttf") format("truetype"); 
font-style: normal; 
font-weight: 700;
}

@font-face {
font-family: "ProximaNova";  
src: url("../fonts/ProximaNova-Bold.woff") format("woff"); 
font-style: italic; 
font-weight: 700;
}

/* @mixin */
@mixin italic-btn {
	display: block;
	width: 10.8333rem;
	height: 2.7778rem;
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	font-size: 1.1111rem;
}

/* spac */
* {
	outline: 0 !important;
}
html {
	width: 100%;
    max-width: 100%;
    overflow-x: hidden;
	font-size: 18px;
	color: #665f60;
}
body {
	width: 100%;
    max-width: 100%;
    overflow-x: hidden;
	background-color: #ebebeb;
}
h1, h5 {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 700;
}
h2, a {
	font-family: 'ProximaNova', sans-serif;
	font-weight: 600;
}
h1, h2, a {
	color: #fff;
}
h3 {
	font-size: 1.3333rem;
	font-weight: 700;
}
a {
	text-transform: uppercase;
}
p, h3 {
	font-family: 'PT Sans', sans-serif;
}
textarea, input {
	font-family: 'PT Sans', sans-serif;
	font-style: italic;
	opacity: .5;
}

/* header */
.header {
	position: fixed;
	width: 100%;
	background-color: transparent;
	color: #fff;
	padding: 2rem 0.8333rem 0.6667rem;
	z-index: 1000;
	&__item a {
		font-size: 1.3333rem;
	}
	.sidenav {
		display: none;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		&__item a {
			font-size: 1rem;
		}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		&__item a {
			font-size: 1rem;
		}
	}
	@media (min-width: 576px) and (max-width: 767px) {
		&__item a {
			font-size: 0.7rem;
		}
	}
	@media (min-width: 544px) and (max-width: 575px) {
		padding-top: 1.1111rem;
		&__logo {
			width: 8%;
		}
		&__list {
			padding-left: 3rem;
		}
		&__item a {
			font-size: 0.7rem;
			padding-top: 0;
		}
	}
	@media (min-width: 200px) and (max-width: 543px) {
		padding-top: 1rem;
        &__nav {
			display: none;
		}
		&__item-icon {
			display: block;	
		}
		.sidenav {
			height: 39vh;
			position: fixed;
			top: 1rem;
			right: 1rem;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-content: space-around;
			width: 20vw;
			background-color: transparent;
			border-style: double;
			border-width: thick;
			border-radius: 15px;
			padding-top: 5%;
			ul {
				padding: 0;
			} 
			&__item {
				list-style-type: none;
				text-align: center;
			}
			&__icon {
				font-size: 1.3rem;
			}
		}
	}
}
.header-color-background {
	/* background-color: #aca5c0; */
	background: linear-gradient(360deg, rgba(172,165,192,0.8) 0%, rgba(172,165,192,1) 100%);
}

/* home */
.home {
	position: relative;
	top: 0;
	width: auto;
	height: 100vh;
	background: #9f9acf url(../img/home.png) 50% no-repeat;
	text-align: center;
	padding-top: 37.85246vh;
	&__title {
		font-size: 4rem;
		text-transform: uppercase;
	}
	&__tagline {
		font-size: 1.6667rem;
		font-style: italic;
		color: #fff;
	}
	@media (min-width: 992px) and (max-width: 1199px) {
		&__title {
			font-size: 3rem;
		}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		&__title {
			font-size: 2.8rem;
		}
		&__tagline {
			font-size: 1.4rem;
		}
	}
	@media (min-width: 544px) and (max-width: 767px) {
		&__title {
			font-size: 2.1rem;
			margin-bottom: 0.7rem;
		}
		&__tagline {
			font-size: 1.2rem;
		}
	}
	@media (min-width: 200px) and (max-width: 543px) {
		padding-top: 45vh;
		&__title {
			font-size: 2rem/* 1.2rem */;
			margin-bottom: 0.7rem;
		}
		&__tagline {
			font-size: 0.8rem;
		}
	}
}

/* about */
.about {
	padding: 6.8889rem 0 6.7222rem;
	&__banner {
		background: #aca7c8 url(../img/about.png);
		padding-top: 4.1667rem;
		text-align: center;
		img {
			padding-bottom: 2.4444rem;
		}
		h2 {
			font-size: 2rem;
			text-transform: uppercase;
		}
	}
	&__info {
		padding-top: 4.1667rem;
		p {
			font-size: 1.1111rem;
			span {
			font-weight: 700;
		}
		}
		button {
			@include italic-btn;
			margin: 4.1667rem auto 0;
			background-color: #ebebeb;
			color: #7d7a7c;
			border: 1px solid #7d7a7c;
			&:hover {
				background-color: #7d7a7c;
				color: #ebebeb;
				border-color: #ebebeb;
			}
		}
	}
	@media (min-width: 576px) and (max-width: 991px) {
		&__banner {
			padding-top: 2.7778rem;
			padding-bottom: 2rem;
			img {
				padding-bottom: 1rem;
			}
		}
	}
	@media (min-width: 200px) and (max-width: 575px) {
		padding: 3rem 1rem;
		&__banner {
			padding-top: 2rem;
			padding-bottom: 1rem;
			img {
				/* width: 1.5rem; */
				height: auto;
				padding-bottom: 1rem;
			}
			h2 {
				/* font-size: 1rem; */
			}
		}
		&__info {
			padding-top: 2rem;
			p{
				font-size: 0.8rem;
			}
			button {
				margin-top: 2rem;
			}
		}
	}
}

/* services */
.services {
	&__item {
		height: 22.2222rem;
		text-align: center;
		padding-top: 5.5556rem;
		img {
			margin-bottom: 1.6667rem;
		}
		h3 {
			margin-bottom: 1rem;
		}
		p, q {
			font-style: italic;
		}
	}
	&__design {
		background-color: #dbdbdb;
	}
	&__mobiDev {
		background-color: #dbdbdb;
	}
	&__ourServ {
		height: 44.4444rem;
		width: auto;
		padding-top: 6.4444rem;
		background: url(../img/note.png) 50% no-repeat;
		h2 {
			margin-bottom: 5rem;
		}
		q {
			font-family: 'PT Sans', sans-serif;
			font-size: 1rem;
			color: #fff;
		}
		cite {
			font-family: "ProximaNova";
			font-weight: 700;
			font-style: normal;
			color: #fff;
		}
	}
	@media (min-width: 544px) and (max-width: 767px) {
		&__ourServ {
			background-color: #c1bed9;
		}
		&__design {
		background-color: inherit;
		}
		&__seo {
			background-color: #dbdbdb;
		}
	}
	@media (min-width: 200px) and (max-width: 543px) {
		&__ourServ {
			background-color: #c1bed9;
		}
		&__design {
		background-color: inherit;
		}
		&__seo {
			background-color: #dbdbdb;
		}
	}
}

/* works */
.works {
	background: #9f9acf url(../img/works-bg.png) 50% no-repeat;
	padding-top: 2.6667rem;
	padding-bottom: 3.3333rem;
	img {
		margin-bottom: 2rem;
	}
	&__title {
		font-size: 2rem;
		margin-bottom: 3.2778rem;
	}
	&__slider {
		margin-bottom: 5.5556rem;
	}
	button {
		@include italic-btn;
		margin: 0 auto;
			background-color: transparent;
			color: #fff;
			border: 1px solid #fff;
			&:hover {
				background-color: #7d7a7c;
				color: #fff;
				border-color: #fff;
			}
	}
	@media (min-width: 544px) and (max-width: 767px) {
		&__slider {
			margin-bottom: 3.5rem;
		}
		.carousel-inner {
			width: 100%;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
	}
	@media (min-width: 200px) and (max-width: 543px) {
		&__slider {
			margin-bottom: 5.4444rem;
		}
		.carousel-inner {
			width: 100%;
			margin: 0 auto;
			img {
				width: 100%;
			}
		}
	}
}

/* team */
.team {
	padding-top: 3rem;
	padding-bottom: 5rem;
	text-align: center;
	&__icon {
		margin-bottom: 2rem;
	}
	&__title {
		margin-bottom: 3.8889rem;
		font-size: 2rem;
		color: #665f60;
	}
	&__card {
		margin-left: 15px;
		margin-right: 15px;
		background: linear-gradient(transparent 25%, #fff 0);
		img {
			display: block;
			margin: 0 auto 2rem;
		}
		h5 {
			margin-bottom: 1.875rem;
			font-size: 1.5rem;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			color: #9f9acf;
		}
		p {
			font-size: 1.5rem;
			font-style: italic;
			margin-bottom: 3.125rem;
		}
	}
	&__card-footer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		background-color: #9f9acf;
		padding: 1.1875rem 2.8125rem;
		a {
			z-index: 5;
		}
		img {
			width: 32px;
			height: auto;
			margin-bottom: 0;
		}
	}
	@media (min-width: 576px) and (max-width: 991px) {
		&__card {
			img {
				width: 90%;
			}
			h5 {
				font-size: 1.3333rem;
			}
			p {
				font-size: 1.2rem;
			}
		}
		&__card-footer {
			padding: 1.1111rem 1.1111rem;
			img {
				width: 1.5rem;
				height: auto;
			}
		}
	}
	@media (min-width: 200px) and (max-width: 575px) {
		&__card {
			img {
				width: 80%;
				margin-bottom: 1.5rem;
			}
			h5 {
				font-size: 1rem;
				margin-bottom: 1rem;
			}
			p {
				font-size: 1rem;
				margin-bottom: 2rem;
			}
		}
		&__card-footer {
			padding: 1rem 1rem;
			img {
				width: 1.1111rem;
				height: auto;
				margin-bottom: 0;
			}
		}
	}}

/* contact */
.contact {
	position: relative;
	background-color: #9f9acf;
	img {
		width: 2.3333rem;
		height: 3.3333rem;
		margin-top: 3.1111rem;
		margin-bottom:1.3333rem;
		z-index: 100;
	}
	h2 {
		font-size: 2rem;
		margin-bottom: 15rem;
		z-index: 100;
	}
	&__address {
		display: flex;
	}
	&__tel {
		display: flex;
	}
	&__address-icon {
		background-color: /* blue */#9f9acf;
		width: 5rem;
		height: 5rem;
		padding-top: 1.75rem;
		img {
			display: block;
			width: 42.222%;
			height: auto;
			margin: 0 auto;
		}
	}
	&__tel-icon {
		width: 5rem;
		height: 5rem;
		background-color: /* blue */#9f9acf;
		padding-top: 1.75rem;
		img {
			display: block;
			width: 22.222%;
			height: auto;
			margin: 0 auto;
		}
	}
	&__inner {
		width: 14.3333rem;
		height: 5rem;
		background-color: #fff;
		text-align: center;
		line-height: auto;
		a {
			display: block;
			text-decoration: none;
			color: #665f60;
			margin-top: 2rem;
		}
	}
	
	&__form {
		input {
			width: 23.1111rem;
			height: 3.1111rem;
			margin-bottom: 1.5rem;
			&:first-of-type {
				margin-right: 15px;
			}
			&:last-of-type {
				margin-left: 15px;
			}
		}
		input[type="email"]::placeholder {
			color: #9f9acf;
		}
		input[type="text"]::placeholder {
			color: #9f9acf;
		}
		textarea {
			width: 47.9444rem;
			height: 11.1111rem;
			/* z-index: 1000000000; */
		}
		textarea[type="text"]::placeholder {
			color: #9f9acf;
		}
		button {
			display: block;
			width: 16.2778rem;
			height: 3.6667rem;
			background-color: #9f9acf;
			color: #fff;
			font-family: "ProximaNova";
			font-weight: 700;
			font-size: 1.1111rem;
			margin: 3.0556rem auto 3rem;
			box-shadow:0px 6px 1px 1px rgba(135,131,176,1);
			-webkit-box-shadow:0px 6px 1px 1px rgba(135,131,176,1);
			-moz-box-shadow:0px 6px 1px 1px rgba(135,131,176,1);
			opacity: 1;
			&:hover {
				color: #fff;
			}
			&:active {
				background-color: #9f9acf;
				box-shadow: none;
				border: 1px solid #8783b0;
				outline: 0 !important;
			}
		}
	}
	&__map {
		iframe {
			position: absolute;
			top: 0;
	  		max-width: none;
	  		width: 100vw;
	  		height: 100%;
	 		left: 50%;
	 		transform: translate(-50%);
	 		padding-left: -215px;
	 		padding-right: -215px;
	 		opacity: 0.5;
	 		z-index: 0 !important;
		}
	}
	@media (min-width: 768px) and (max-width: 991px) {
		&__form {
			input {
				width: 95%;
				margin-bottom: 0.8rem;
			}
			textarea {
				width: 100%;
			}
		}
	}
	@media (min-width: 544px) and (max-width: 767px) {
		&__form {
			input {
				width: 100%;
				margin: 0 0 0.8rem 0 !important;
			}
			textarea {
				width: 100%;
			}
		}
	}
	@media (max-width: 543px) {
		&__form {
			input {
				width: 100%;
				margin: 0 0 0.8rem 0 !important;
			}
			textarea {
				width: 100%;
			}
			button {
				width: 100%;
				margin-top: 3rem;
				margin-bottom: 5rem;
			}
		}
	}
}

#slideout__address {
  position: absolute;
  top: 12.2222rem;
  right: -256px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 100;
}
#slideout__address-inner {
  top: 12.2222rem;
  right: -256px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: .5;
}
#slideout__address:hover {
  right: 0;
}
#slideout__address:hover #slideout__address-inner {
  right: 0;
}

#slideout__tel {
  position: absolute;
  top: 17.2222rem;
  right: -256px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 100;
}
#slideout__tel-inner {
  top: 17.2222rem;
  right: -256px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: .5;
}
#slideout__tel:hover {
  right: 0;
}
#slideout__tel:hover #slideout__tel-inner {
  right: 0;
}


.footer {
	background-color: #9f9acf;
	padding-top: 4.1667rem;
	padding-bottom: 4.3333rem;
	color: #fff;
	p span {
		font-weight: 700;
	}
	&__socials {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		img {
			width: 32px;
			height: auto;
			margin-bottom: 0;
		}
	}
	@media (min-width: 576px) and (max-width: 767px) {
		&__socials {
			img {
				width: 24px;
				height: auto;
			}
		}
	}
	@media (min-width: 250px) and (max-width: 575px) {
		padding: 1rem 1rem;
		&__socials {
			padding-bottom: 0.5rem;
			img {
				width: 24px;
				height: auto;
			}
		}
		p {
				font-size: 0.6rem;
				margin-bottom: 0;
			}
	}
}

